body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    overflow: hidden;
    touch-action: none;
}

.container {
    text-align: center;
}

/* INPUT */
.input-area {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}

.input-area button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background: #00ffcc;
    cursor: pointer;
}

/* CONTENEDOR RELATIVO */
.braille-container {
    position: relative;
    display: inline-block;
}

/* BOTONES SOBRE EL BRAILLE */
.controls {
    position: absolute;
    top: -50px;
    right: 0;
}

.controls button {
    font-size: 1.5rem;
    padding: 8px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background: #00ffcc;
    cursor: pointer;
}

/* BRAILLE */
.braille {
    display: flex;
    gap: 25px;
    transform: scale(1.35);
    transition: transform 0.2s ease;
}

.cell {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 12px;
}

.dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff22;
}

.dot.active {
    background: #00ffcc;
    box-shadow: 0 0 12px #00ffcc;
}

.dot:hover {
    transform: scale(1.15);
}
